<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><h1><%= link_to post.title, post %></h1></div>
  <div class="col-md-1"></div>
</div>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-8"><h5><%= post.date %></h5></div>
  <div class="col-md-1"></div>
 </div>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-1"><%= link_to 'Show', post %></div>
  <div class="col-md-1"><%= link_to 'Edit', edit_post_path(post) %></div>
  <div class="col-md-1"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
  <div class="col-md-1"></div>
 </div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><%= post.content %></div>
  <div class="col-md-1"></div>
 </div>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-10">&nbsp;</div>
  <div class="col-md-1"></div>
 </div>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-10"><%= pluralize(post.comments.count, 'comment') %> </div>
  <div class="col-md-1"></div>
 </div>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-10">&nbsp;</div>
  <div class="col-md-1"></div>
 </div>
<% end %>
<div class="row">
 <div class="col-md-1"></div>
  <div class="col-md-10"><%= link_to 'New Post', new_post_path %></div>
  <div class="col-md-1"></div>
 </div>